{% extends 'base.html.twig' %}
{% block title %}Accueil |
	{{ parent() }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('assets/css/client.css') }}" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}
{% block content %}
{% set foo = 0 %}
	<script>
		function myFunctionupdate(x) {
		swal({
  			title: "Are you sure?",
  			text: "Once deleted, you will not be able to recover this imaginary file!",
  			icon: "warning",
  			buttons: true,
  			dangerMode: true,
			}).then((willDelete) => {
  					if (willDelete) {
						var request = $.ajax({
							url:"{{ path('ticket_validation') }}",
							type:'post',
							data:{'idticket':x}
						});
						request.done(function(data) {
						window.location = '/cp';
						swal("record!", "You clicked the button!", "success");
						});
						request.fail(function(jqXHR, textStatus) {
							swal("error ?");
						});
  					} else {
    					swal("Your imaginary file is safe!");
  						}
		});
	}
	</script>
	<script>
	function affectation(x,y) {
		console.log(x);
		console.log(y);
		var str1 = "#";
		var str2 = y ;
		var result = str1.concat(str2);
		var test = $(result+" option:selected").val();
		swal({
  			title: "Tu es sur ?",
  			text: "tu veux affecter ce technicien a ce client!",
  			type: "warning",
  			showCancelButton: true,
  			confirmButtonClass: "btn-danger",
  			confirmButtonText: "Yes, delete it!",
  			cancelButtonText: "No, cancel plx!",
  			closeOnConfirm: false,
  			closeOnCancel: false
			}).then((isConfirm) => {
				if (isConfirm) {
					var request = $.ajax({
					url:"{{ path('ticket_affectation') }}",
					type:'post',
					data:{'idticket':x , 'tech':test}
					});
				request.done(function(data) {
				window.location = '/cp';
				});
				request.fail(function(jqXHR, textStatus) {
					swal("error ?");
				});
			}
			else {
    			swal("Cancelled", "Your imaginary file is safe :)", "error");
  			}
	});
	}
	</script>
	<div class="container client">
		<div class="row">
			<table class="table">
				<tbody>
					<tr>
						<th>id</th>
						<th>Client</th>
						<th>Technicien affecte</th>
						<th>probleme</th>
						<th>lieu</th>
						<th>Date_Probleme</th>
						<th>priorite</th>
						<th>etat</th>
						<th>Valider</th>
						<th>Technicien</th>
						<th>Affecter</th>
					</tr>
					{% if result is defined %}
						{% for ticket in result %}
							<tr>
								<td>{{ticket.id}}</td>
								<td>{{ ticket.username }}</td>
								{% if ticket.technicien_affecte is null %}
								<td>pas encore affecter</td>
								{% else %}
								<td>{{ ticket.technicien_affecte }}</td>
								{% endif %}
								<td>{{ticket.probleme}}</td>
								<td>{{ticket.lieu}}</td>
								<td>{{ticket.dateecheance|date('Y-m-d')}}</td>
								<td>{{ticket.priorite}}</td>
								<td>{{ticket.etat}}</td>
								{% if ticket.etat == "Valide" %}
									<center><td>deja valider</td></center>
								{% else %}
								<td>
								<center>
									<a id="function-click-update" onclick="myFunctionupdate({{ticket.id}})">
										<i class="fa fa-check" aria-hidden="true" style="font-size:28px;color:green"></i>
									</a>
								</center>
								</td>
								{% endif %}
								<td>
								  <select name="{{foo}}" id="{{foo}}">
    									{% for res in techniciens %}
        									<option value="{{res.username}}">{{res.username}}</option>
    							  		{% endfor %}
								  </select>
								</td>
								<td>
								<center>
									<a id="function-click" onclick="affectation({{ticket.id}},{{foo}})">
										<i class="fa fa-user-plus" aria-hidden="true" style="font-size:28px;color:green"></i>
									</a>
								</center>
								</td>
							</tr>
						</tbody>
					</td>
				</tbody>
			</tr>
			{% set foo = foo + 1 %}
		{% endfor %}
	{% endif %}
</tbody></table></div></div>{% endblock %}
