{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <div class="container center">
        <h1>Inscription</h1>
        {{ form_start(registrationForm) }}
            <div class="input-field col">
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Adresse email'}}) }}
                <span class="error">{{ form_errors(registrationForm.email) }}</span>
            </div>
            <div class="input-field col">
                {{ form_widget(registrationForm.username, {'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
                <span class="error">{{ form_errors(registrationForm.username) }}</span>
            </div>
            <div class="input-field col">
                {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe'}}) }}
                <span class="error">{{ form_errors(registrationForm.plainPassword) }}</span>
            </div>
            <div class="input-field col s12">
                <input type="submit" name="" class="btn btn-primary" value="M'inscrire">
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
