{% extends 'base.html.twig' %}
{% block title %}Accueil |
	{{ parent() }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('assets/css/client.css') }}" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}
{% block content %}
	<button type="button" class="btn btn-outline-success custom" data-toggle="modal" data-target="#exampleModalScrollableTitle">creer un ticket</button>
	<div class="modal fade" id="exampleModalScrollableTitle" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  		<div class="modal-dialog modal-dialog-scrollable dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Creation du Ticket</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				{% if form is defined %}
					{{ form(form) }}
				{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% for message in app.flashes('ticket') %}
		<script>
			swal("ticket creer avec succes", "terminer!", "success");
		</script>
	{% endfor %}
	<script>
	function myFunction(x) {
		swal({
  			title: "tu veux supprimer cette ticket ?",
  			text: "si tu supprime cette ticket , ca sera definitive!",
  			icon: "warning",
  			buttons: true,
  			dangerMode: true,
			}).then((willDelete) => {
  					if (willDelete) {
						var request = $.ajax({
							url:"{{ path('ticket_remove') }}",
							type:'post',
							data:{'idticket':x}
						});
						request.done(function(data) {
						window.location = '/client';
						swal("supprimer!", "You clicked the button!", "success");
						});
						request.fail(function(jqXHR, textStatus) {
							swal("error ?");
						});
  					} else {
    					swal("vous donnes en securite!");
  						}
		});
	}
	</script>
	<div class="container client">
		<div class="row">
			<table class="table">
				<tbody>
					<tr>
						<th>id</th>
						<th>probleme</th>
						<th>lieu</th>
						<th>Date_Probleme</th>
						<th>priorite</th>
						<th>etat</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</tr>
					{% if tickets is defined %}
					{% for ticket in tickets %}
						<tr>
							<td>{{ticket.id}}</td>
							<td>{{ticket.probleme}}</td>
							<td>{{ticket.lieu}}</td>
							<td>{{ticket.dateecheance|date('Y-m-d')}}</td>
							<td>{{ticket.priorite}}</td>
							<td>{{ticket.etat}}</td>
							<td>
								<a id="function-click-update" href="{{ path('ticket_update', {'id': ticket.id}) }}">
									<i class="fa fa-edit edit" style="font-size:28px;color:green"></i>
								</a>
							</td>
							<td>
								<a id="function-click" onclick="myFunction({{ticket.id}})">
									<i class="delete fa fa-trash trash" style="font-size:28px;color:red" aria-hidden="true"></i>
								</a>
							</td>
						</tr>
				</tbody>
			</td>
		</tr>
	{% endfor %}
	{% endif %}
</tbody></table></div></div>{% endblock %}
