{% extends 'base.html.twig' %}

{% block title%}cc Article {% endblock %}

{% block content %}
    <button type="button" class="btn btn-outline-success custom" onclick="location.href='/'">creer un ticket</button>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}