{% extends 'base.html.twig' %}
{% block title %}Accueil |
	{{ parent() }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('assets/css/client.css') }}" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}
{% block content %}
{% set foo = 0 %}
    <script>
    function avancement(x,y) {
        var str1 = "#";
        var str2 = x ;
		var result = str1.concat(str2);
		var test = $(result+" option:selected").val();
        	swal({
  			title: "Tu veux changer l'etat ?",
  			text: "tu veux changer etat du ticket",
  			type: "warning",
  			showCancelButton: true,
  			confirmButtonClass: "btn-danger",
  			confirmButtonText: "Yes, delete it!",
  			cancelButtonText: "No, cancel plx!",
  			closeOnConfirm: false,
  			closeOnCancel: false
			}).then((isConfirm) => {
				if (isConfirm) {
					var request = $.ajax({
					url:"{{ path('ticket_avancement') }}",
					type:'post',
					data:{'avance':test,'id':y}
					});
				request.done(function(data) {
				window.location = '/technicien';
				});
				request.fail(function(jqXHR, textStatus) {
					swal("error ?");
				});
			}
			else {
    			swal("Cancelled", "Your imaginary file is safe :)", "error");
  			}
	});
    }
    </script>
	<div class="container client">
		<div class="row">
			<table class="table">
				<tbody>
					<tr>
						<th>id</th>
                        <th>client</th>
						<th>probleme</th>
						<th>lieu</th>
						<th>Date_Probleme</th>
						<th>priorite</th>
						<th>etat</th>
                        <th>Avancement</th>
					</tr>
					{% if tickets is defined %}
					{% for ticket in tickets %}
						<tr>
							<td>{{ticket.id}}</td>
                            <td>{{ticket.username}}</td>
							<td>{{ticket.probleme}}</td>
							<td>{{ticket.lieu}}</td>
							<td>{{ticket.dateecheance|date('Y-m-d')}}</td>
							<td>{{ticket.priorite}}</td>
							<td>{{ticket.etat}}</td>
                            <td>
							<select name="{{foo}}" id="{{foo}}">
        						<option value="en traitement">en traitement</option>
                                <option value="probleme resolu">probleme resolu</option>
							</select>
                            </td>
							<td>
								<a id="function-click-update" onclick="avancement({{foo}} , {{ticket.id}})">
									<i class="fa fa-edit edit" style="font-size:28px;color:green"></i>
								</a>
							</td>
						</tr>
				</tbody>
			</td>
		</tr>
        {% set foo = foo + 1 %}
	{% endfor %}
	{% endif %}
</tbody></table></div></div>{% endblock %}
