/* navbar */
nav {
	background-color: #d4b672;
	margin-bottom: 30px;
}

textarea.materialize-textarea {
	min-height: 10rem;
}

span.error {
	color: #e04447;
	font-size: 12px;
}

span.badge {
	font-size: 12px;
	color: #fff;
}

span.badge.success {
	background-color:
}

table td a {
	color: #000;
}

.custom {
	position: relative;
	right:0;
	display: none;
}