.custom {
    position: absolute;
    right:50px;
}
.client {
    position: relative;
    top:100px;
}
.trash {
position: relative;
left:30px;
}
.edit {
position: relative;
left:15px;
}

.modal {
    width:100%;
}
.dialog {
    position: relative;
    max-width:100%;
    max-height:100%;
}