<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}gestion tickets
			{% endblock %}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		{% endblock %}
	</head>
	<body>
		<nav>
			<div class="nav-wrapper">
				<div class="container">
					<a href="{{ path('homepage') }}" class="brand-logo">gestion tickets</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li>
							<a href="{{ path('homepage') }}">Home</a>
						</li>
						{% if app.user %}
							{% if app.user.roles[0] == "ROLE_CLIENT" %}
							<li>
								<a href="{{ path('client') }}">{{app.user.roles[0]}}</a>
							</li>
							{% endif %}
							{% if app.user.roles[0] == "ROLE_CP" %}
							<li>
								<a href="{{ path('cp') }}">{{app.user.roles[0]}}</a>
							</li>
							{% endif %}
							{% if app.user.roles[0] == "ROLE_TECHNICIEN" %}
							<li>
								<a href="{{ path('technicien') }}">{{app.user.roles[0]}}</a>
							</li>
							{% endif %}
							<li>
								<a href="/logout">Logout</a>
							</li>
						  {% else %}
							<li>
								<a href="/login">Login</a>
							</li>
							<li>
								<a href="/register">register</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		{% block content %}{% endblock %}

		{% block scripts %}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

			<script type="text/javascript">
				$('select').formSelect();
			</script>
		{% endblock %}
	</body>
</html>
